Source: dolphin
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: baloo-kf5-dev,
               cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               kde-sc-dev-latest (>= 4:4.12),
               kdoctools-dev,
               kinit-dev,
               kio-dev (>= 15.15.0),
               libkf5activities-dev (>= 15.15.0),
               libkf5baloowidgets-dev (>= 15.15.0),
               libkf5bookmarks-dev (>= 15.15.0),
               libkf5completion-dev (>= 15.15.0),
               libkf5config-dev (>= 15.15.0),
               libkf5coreaddons-dev (>= 15.15.0),
               libkf5dbusaddons-dev (>= 15.15.0),
               libkf5filemetadata-dev (>= 15.15.0),
               libkf5i18n-dev (>= 15.15.0),
               libkf5iconthemes-dev (>= 15.15.0),
               libkf5kcmutils-dev (>= 15.15.0),
               libkf5kdelibs4support-dev (>= 15.15.0),
               libkf5newstuff-dev (>= 15.15.0),
               libkf5notifications-dev (>= 15.15.0),
               libkf5parts-dev (>= 15.15.0),
               libkf5solid-dev (>= 15.15.0),
               libkf5texteditor-dev (>= 15.15.0),
               libkf5windowsystem-dev (>= 15.15.0),
               libphonon4qt5-dev,
               libphonon4qt5experimental-dev,
               pkg-config,
               pkg-kde-tools (>= 0.12),
               qtbase5-dev
Standards-Version: 3.9.6
XS-Testsuite: autopkgtest
Homepage: http://www.kde.org/
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/kde-applications/dolphin.git/
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-applications/dolphin.git

Package: dolphin
Section: utils
Architecture: any
Depends: libkf5baloowidgets-bin, ${misc:Depends}, ${shlibs:Depends}
Recommends: libkonq-common, ruby
Suggests: dolphin-plugins
Description: file manager
 Dolphin is the default file manager in the Plasma, intended
 to be both powerful and easy to use.
 .
 Features include:
   Customisable sidebars
   "Breadcrumb" navigation
   View properties remembered for each folder
   Split views
   Network transparency
   Undo/redo functionality
   Ratings, comments, and tags

Package: dolphin-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: dolphin (<< 4:15.07.90+git20150819.0900)
Replaces: dolphin (<< 4:15.07.90+git20150819.0900)
Description: file manager - development files
 Contains DBus interface XML files to access dolphin via the DBus
 org.freedesktop.FileManager1 interface.

Package: libdolphinvcs-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: libdolphinvcs5 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Breaks: dolphin (<< 4:15.07.90+git20150819.0900)
Replaces: dolphin (<< 4:15.07.90+git20150819.0900)
Description: library to show version control in Dolphin - development files
 This library enables developers to expand Dolphin with the ability to show
 version control status in directories that are version controlled.

Package: libdolphinvcs5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: dolphin (<< 4:15.07.90+git20150819.0900)
Replaces: dolphin (<< 4:15.07.90+git20150819.0900)
Description: library to show version control in Dolphin
 This library enables developers to expand Dolphin with the ability to show
 version control status in directories that are version controlled.

Package: dolphin-dbg
Section: debug
Architecture: any
Priority: extra
Depends: dolphin (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for Dolphin
 This package contains debugging files used to investigate problems
 with binaries included Dolphin
